body {
background-color: rgb(19, 176, 197);
font: italic 13pt Arial;
}

header {
color: white;
text-align: center;
}

section {
background: rgb(255, 255, 255);
border-radius: 50px;
padding: 20px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(71, 68, 68, 0.596);

}
select#flista {
    width: 150 px;
}


footer {
    color: white;
    text-align: center;
    font-style: italic;

}